:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #742828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-variant-numeric: tabular-nums;
  font-family: "JetBrains Mono", monospace, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  display: flex;

  font-size: clamp(3rem, 17vw, 30rem);
  line-height: 1.1;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  font-size: 1rem;
  font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  height: 50px;
  width: 200px;
  margin: 0.5rem;
  background-color: transparent;
  transition: all 0.5s;
  position: relative;
  border: none;
}

button:not([disabled]) {
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

#millisec {
  display: block;

  font-size: 0.2em;
  color: rgba(255, 255, 255, 0.5);

  transform: translate(0, 0%);
}
